@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
     font-family: 'Oswald';
}

header {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background-image: url(../img/shutterstock.jpg);
     background-size: cover;
     height: 100vh;
     padding-top: 12.5rem;
     padding-left: 6.75rem; 
}

h1 {
     font-size: 50px;
     font-weight: 900;
     color: #fff;
}

.div__nomePrincipal {
     font-size: 42px;
     color: #fff;
}

.botao__saibaMais {
     color: #fff;
     font-size: 1.5rem;
     background: linear-gradient(90deg, #134268, #7aaadd );
     padding: 1rem 2rem;
     border-radius: 7px;

}