@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
     font-family: 'Oswald';
}

header {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-image: url(../img/shutterstock.jpg);
     background-size: 100%;
     background-repeat: no-repeat;
     height: 100vh;
     padding: 25% 0% 25% 0%;
}

.chamado__principal {
     font-size: 50px;
     font-weight: 900;
     text-shadow: 4px 1px black;
     color: #fff;
}

.div__nomePrincipal {
     margin-top: 1rem;
     
     font-size: 42px;
     text-shadow: 4px 1px black;
     color: #fff;
}

.botao__saibaMais {
     color: #fff;
     font-size: 1.5rem;
     background: linear-gradient(90deg, #134268, #7aaadd );
     margin-top: 1rem;
     padding: 1rem 2rem;
     border-radius: 7px;
     text-decoration: none;
     opacity: 0.5;
     transition: 0.5s;
}

.botao__saibaMais:hover{
     opacity: 1;
}

.rodape {
     
}